.vscode/*.log

v2ray/.terraform/
v2ray/terraform.tfstate*
v2ray/remote.sh
v2ray/playbook.sh

acme/out
acme/out_alicloud
acme/out_aws
acme/*.sh

infra_tf/ansible/roles/trial/files/id_rsa
infra_tf/ansible/roles/trial/files/id_rsa.pub

infra_tf/ali_ecs/.terraform/
infra_tf/ali_ecs/terraform.tfstate*
infra_tf/ali_ecs/terraform.tfvars
infra_tf/ali_ecs/id_rsa
infra_tf/ali_ecs/id_rsa.pub
infra_tf/ali_ecs/remote.sh
infra_tf/ali_ecs/playbook.sh

infra_tf/aws_ec2/.terraform/
infra_tf/aws_ec2/terraform.tfstate*
infra_tf/aws_ec2/terraform.tfvars
infra_tf/aws_ec2/id_rsa
infra_tf/aws_ec2/id_rsa.pub
infra_tf/aws_ec2/remote.sh
infra_tf/aws_ec2/playbook.sh

k8s_base/argocd_password.txt
k8s_base/cluster_keys.json
k8s_base/vault_ca.crt

seeker/secret/cluster_keys.json
seeker/secret/vault_ca.crt
seeker/secret/output/