# Required variables
# - Fill in before beginning quickstart
# ==========================================================

# Account JSON used to access GCP services
# - Specify full path and name (e.g. ~/.gcp/account.json)
gcp_account_json = ""

# Project to deploy resources into
gcp_project = ""

# Optional variables, uncomment to customize the quickstart
# ----------------------------------------------------------

# GCP region for all resources
# gcp_region = ""

# GCP zone for all resources
# gcp_zone = ""

# Prefix for all resources created by quickstart
# prefix = ""

# Compute instance size of all created instances
# machine_type = ""

# Docker version installed on target hosts
# docker_version = ""

